*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.nav__container-responsive, .button-responsive__container{
    display: none;
}

.nav__container{
    color: #fff;
    background-color: rgb(84, 115, 218);
    height: 70px;
}

.nav__ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.nav__element-container{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    position: relative;
    bottom: 0;
    transition: all .35s ease;
}

.nav__element-container:hover{
    bottom: 5px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    
}

.nav__element-container img{
    margin-right: 10px;
    filter: invert();
}

@media screen and (max-width: 920px){
    .nav__container{
        display: none;
    }

    .button-responsive__container{
        display: flex;
        justify-content: flex-end;
        width: 110%;
        background-color: #6a5acd;
        padding: 20px 60px 9.5px 0;

    }
    
    .button-responsive__container img{
        width: 35px;
        filter: invert();
    }
    .button-responsive__container input{
        display: none;
    }

    .nav__container-responsive{
        display: inline-block;
        position: absolute;
        width: 70%;
        height: 100vh;
        background-color:rgb(84, 115, 218);
        color: #fff;
        font-size: 25px;
        top: 68px;
        left:-100%;
        transition: all .45s ease;
        
    }

    .nav__element-container-responsive{
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        margin: 20px
       
    }
    .nav__element-container-responsive img{
        margin-right: 10px;
        width: 20px;
        filter: invert();
    }
    .nav__element-responsive{
        list-style: none;
    }
    
    .button-responsive__container:hover ~ .nav__container-responsive{
        left: 0;
    }
    
}

